@page "/weather"
@rendermode InteractiveServer
@inject WeatherForecastApiClient WeatherForecastApiClient

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
                        <label>City</label>
                    </div>

                    <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
                        <label>State</label>
                    </div>

                    <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
                        <!-- no content-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
                        <input class="form-control" @bind="cityRequest.Name" />
                    </div>

                    <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
                        <input class="form-control" @bind="cityRequest.State" />
                    </div>

                    <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
                        <button class="btn btn-primary" type="button" title="Update"
                                @onclick="async () => { await GetWeatherForecastAsync(); }">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (weather is null)
{
    <p>Loading...</p>
}
else
{
    <div class="row mt-3">
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center">Weather Information</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">City</div>
                        <div class="col">@weather.CityName</div>
                    </div>
                    <div class="row">
                        <div class="col">State</div>
                        <div class="col">@weather.State</div>
                    </div>
                    <div class="row">
                        <div class="col">Temperature</div>
                        <div class="col">@weather.TemperatureCelsius °C / @weather.TemperatureFahrenheit °F</div>
                    </div>
                    <div class="row">
                        <div class="col">Summary</div>
                        <div class="col">@weather.Summary</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private WeatherResponseDto? weather;
    private CityRequestDto cityRequest { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        cityRequest.Name = "Porto Alegre";
        cityRequest.State = "Rio Grande do Sul";

        weather = await WeatherForecastApiClient.GetWeatherForecastAsync(cityRequest);
    }

    private async Task GetWeatherForecastAsync()
    {
        weather = await WeatherForecastApiClient.GetWeatherForecastAsync(cityRequest);
    }
}
